@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'GE SS Two Medium';
  src: local('GE SS Two Medium'), url('@/assets/fonts/GE_SS_Two_Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  @apply !scroll-smooth;
}

li {
  list-style: none;
}

.btn {
  @apply rounded-xl text-[#fff] font-bold text-3xl bg-cover bg-bottom inline-block py-4 px-16 bg-[url('@/assets/images/btn-red-bg.png')];
}

/* SECTION hero */
.hero {
  @apply w-full pb-8 bg-cover bg-right relative z-50 rounded-b-[50%_3%] bg-[url('@/assets/images/bg-hero.jpg')];
}

.hero-content {
  @apply relative overflow-hidden;
}

.hero-img-product {
  @apply absolute -left-40 w-80 h-[350px] bg-[url('@/assets/images/bg-red.jpg')] bg-cover -z-10 rounded-br-[100%] md:left-0 md:w-[700px] md:h-[700px];
}

.hero-img-product img {
  @apply absolute right-5 w-48 md:min-w-[600px] md:right-20;
}
/* hero-header */
.hero-header {
  @apply w-[60%] px-2 py-5 md:container md:mx-auto;
}

.hero-header h2 {
  @apply text-[#DA0000] text-2xl md:text-5xl font-black relative md:tracking-wider whitespace-nowrap md:pr-8 md:pt-8;
}

.hero-header-subtitle {
  @apply mb-5 max-sm:-tracking-wide py-2;
  @apply before:absolute before:-bottom-2.5 before:right-0 before:w-[90%] before:h-[3px] before:bg-[#111] before:rounded-[30%] md:before:w-[60%];
}

.hero-header h4 {
  @apply text-xl !font-semibold whitespace-nowrap md:pr-8 md:text-5xl md:pt-6;
}

.hero-arrow-img {
  @apply w-[380px] pl-12 md:mr-[500px] md:w-[550px]
}
/* hero-footer */
.hero-footer {
  @apply text-center container pt-[25px] px-2.5 pb-5 md:pt-8 md:pr-12  md:container md:mx-auto
}

.hero-footer .line {
  @apply text-right flex items-center mb-4 text-base font-semibold md:tracking-wide md:text-3xl whitespace-nowrap md:space-y-1 md:mb-6;
}

.hero-footer .line span {
  @apply w-[10px] h-12 bg-[#e60f0f] ml-2 md:ml-3.5 rounded-[3px];
}
/* End SECTION hero */



/* SECTION results */
.results {
  @apply relative top-[-50px] w-full bg-cover bg-center bg-[url('@/assets/images/bg-red.jpg')] rounded-b-[50%_3%] z-20 px-2.5 pt-12 pb-5;
}

.results-header {
  @apply text-center mb-8 pt-5;
}

.results-header h3 {
  @apply text-white text-4xl font-black md:tracking-wider md:text-6xl md:my-5;
}

.results-header p {
  @apply text-white text-[22px] font-thin md:tracking-wider md:text-4xl;
}

.results-info {
  @apply flex justify-between mb-6 container mx-auto;
}

.results-info img {
  @apply w-20 h-36 md:w-40 md:h-64;
}

.results-info img.img-sm {
  @apply w-14 h-28 ml-3 md:ml-5 md:w-28 md:h-48;
}

.results-info .box h2 {
  @apply text-white mb-2.5 md:text-4xl font-bold md:mb-5;
}

.results-info .box .text {
  @apply flex flex-col text-white font-thin text-[14.8px] md:tracking-wide whitespace-nowrap md:text-3xl md:mb-6;
}
/* End SECTION results */



/* SECTION advise */
.advise {
  @apply text-center py-8 bg-cover bg-right relative bg-[url('@/assets/images/bg-hero.jpg')] rounded-b-[50%_3%] top-[-70px] z-10;
}

.advise-container {
  @apply flex justify-between text-right relative mb-8 container mx-auto;
}

.advise-header {
  @apply pt-2.5 pr-2.5 pb-5 pl-8;
}

.advise-header .head {
  @apply mb-8 text-xl md:text-5xl md:mb-16;
}

.advise-header .head p {
  @apply text-[#111] font-extrabold md:py-3;
}

.advise-header .head span {
  @apply text-[#DA0000] font-black;
}

.advise-header .all-line {
  @apply pr-2 mb-10 md:pr-5 md:tracking-wider space-y-4 font-bold md:space-y-6;
}

.advise-header .all-line .line {
  @apply text-right flex items-center mb-4 text-base font-semibold md:tracking-wider md:text-4xl;
}

.advise-header .all-line .line span {
  @apply w-[3px] h-14 bg-[#e60f0f] ml-2 md:ml-5 rounded-[3px] md:w-[10px];
}

.advise-container img {
  @apply w-48 md:w-96 top-0 left-1 absolute md:left-8;
}
/* End SECTION section */



/* SECTION how */
.how {
  @apply top-[-85px] px-2.5 pt-12 pb-5 relative bg-cover bg-center bg-[url('@/assets/images/bg-red.jpg')] rounded-b-[50%_3%] text-center whitespace-nowrap text-white
}

.how .how-header h2 {
  @apply text-2xl md:text-6xl md:tracking-wider font-black md:mb-6
}

.how .how-footer img {
  @apply inline-block w-40 md:w-60;
}

.how .how-footer .text {
  @apply flex flex-col;
}

.how .how-footer .text p {
  @apply text-base leading-9 md:text-4xl md:leading-10
}
/* End SECTION how */



/* SECTION contact */
.contact {
  @apply w-full bg-cover bg-right bg-[url('@/assets/images/bg-hero.jpg')] text-center overflow-hidden;
}


.contact-header {
  @apply relative w-[300px] bg-[url('@/assets/images/bg-red.jpg')] bg-center bg-cover pb-4 pl-14 rounded-lg mx-auto mt-20 mb-9 lg:pl-0;
  @apply md:container md:w-[800px];
}


.contact-header img {
  @apply w-[205px] absolute -top-10 -left-28 z-30;
  @apply md:w-[250px] md:-left-48 lg:w-[350px] md:-top-20;
}

.container-prices {
  @apply flex flex-col rounded-lg overflow-hidden;
}

.contact-header .price-title {
  @apply bg-white p-1 text-3xl md:text-5xl lg:text-6xl text-center block;
}

.contact-header .price {
  @apply text-white text-[100px] font-semibold font-[sans-serif] md:text-9xl md:text-[10rem] md:py-8;
}

.contact-header .price-old {
  @apply text-white text-xl relative p-1 inline-block overflow-hidden md:text-3xl;
  @apply after:absolute after:top-1/2 after:left-1/2 after:w-[50%] after:h-0.5 after:bg-[#dfae45] after:-translate-x-1/2 after:-translate-y-1/2 after:rotate-[5deg];
}

.contact-footer {
  @apply md:mt-20 md:mb-8;
}

.contact-footer h4 {
  @apply text-[#111] text-xl font-extrabold md:text-2xl lg:text-5xl;
}

.contact-footer p {
  @apply my-2.5 text-[10px] font-extrabold -tracking-wide whitespace-nowrap md:text-lg;
}

.contact-footer .contact-form h2 {
  @apply bg-white text-lg py-2;
}

.contact-form {
  @apply bg-center bg-cover bg-[url('@/assets/images/bg-red.jpg')];
}

.form {
  @apply py-8 px-10 container mx-auto md:px-[25%] md:py-8;
}

.form-control {
  @apply mb-2.5 pb-5 relative;
}

.form-control input {
  @apply border-2 border-white rounded-md block text-base p-2.5 w-full md:py-5 md:text-xl;
  @apply focus:outline-0 focus:border-[#777];
}

.form-control small {
  @apply text-white absolute bottom-0 right-0 md:text-lg md:-bottom-2;
}

.form-btn {
  @apply cursor-pointer hover:opacity-75;
}

.contact .banner {
  @apply mx-auto px-3 rounded-md;
}

/* End SECTION contact */




main {
  @apply bg-cover bg-center bg-[url('@/assets/images/bg-red.jpg')] h-screen text-white;
}

.thanks-container {
  width: 90vw;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 150px;
}
.thanks-container h1 {
  font-size: 100px;
  letter-spacing: 0.5px;
  font-family: Montserrat, sans-serif;
  margin-bottom: 10px;
}
.thanks-container img {
  width: 85px;
  margin-bottom: 20px;
}
.thanks-container h3 {
  font-size: 42px;
  line-height: 1.6;
  font-family: ui-serif;
}
.thanks-container h3:nth-of-type(2) {
  margin-bottom: 15px;
}
#go-back {
  color: #efe9e9;
  text-decoration: none;
  font-size: 22px;
  background-color: #1d2424e8;
  padding: 10px;
  border-radius: 10px;
}
#go-back:visited {
  color: #efe9e9;
  text-decoration: none;
}
/* ============================ */
@media (max-width: 800px) {
  body {
    background-size: auto;
  }
  .thanks-container h1 {
    font-size: 80px;
  }
  .thanks-container h3 {
    font-size: 30px;
  }
  .thanks-container img {
    width: 85px;
  }
}
/* ============================================= */
@media (max-width: 600px) {
  .thanks-container {
    padding-top: 100px;
  }
  .thanks-container h1 {
    font-size: 45px;
  }
  .thanks-container h3 {
    font-size: 32px;
  }
  .thanks-container h3:nth-of-type(2) {
    font-size: 5vw;
    margin-bottom: 20px;
  }
  #go-back {
    font-size: 18px;
  }
}
.re:hover {
  transform: scale(1.05);
  transition: 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (min-width: 500px) {
  .thanks-container h1 {
    letter-spacing: 1.5px;
  }
  .thanks-container h3 {
    letter-spacing: 0.5px;
  }
}





::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 2px 6px white;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #970300, #ff0000, #970300);
  border-radius: 10px;
  height: 100px;
}
